.heading  {
  button {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-s);
    font-size: var(--font-size-m);
  }

  svg {
    height: var(--icon-size-l);
  }
}

.content {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
}

.content label {
  padding: var(--container-padding);
  cursor: pointer;
}

.hint {
  margin: 0;
  padding: 0 var(--container-padding) var(--container-padding);
  color: var(--color-gray-6);
  font-size: var(--font-size-s);
}
